@model IEnumerable<Nhom4_DoAnWeb_CHDT.Models.Giohang>

@{
    ViewBag.Title = "Đặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Nhom4_DoAnWeb_CHDT.Models
<h2 style="text-align:center">Đặt hàng</h2>
@{
    tblKHACHHANG kh = (tblKHACHHANG)Session["KhachHang"];
    tblTAIKHOAN tk = (tblTAIKHOAN)Session["TaiKhoan"];
    Giohang gh = new Giohang();
}
<h2>Đặt hàng</h2>

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-7">
                <div class="billing-details">
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)
                    <tr style="height:40px">
                        <td>Họ tên khách hàng: </td>
                        <td style="font-weight: bold">@kh.TENKH</td>
                    </tr>
                    <tr style="height:40px">
                        <td>Địa chỉ: </td>
                        <td style="font-weight: bold">@kh.DIACHI</td>
                    </tr>
                    <tr style="height:40px">
                        <td>Điện thoại: </td>
                        <td style="font-weight: bold">@kh.DIENTHOAI</td>
                    </tr>
                    <tr style="height:40px">
                        <td>Email: </td>
                        <td style="font-weight: bold">@kh.EMAIL</td>
                    </tr>
                    <tr style="height:40px">
                        <td>Ngày đặt: </td>
                        <td style="font-weight: bold">@DateTime.Now.ToShortDateString()</td>
                    </tr>
                    <tr style="height:40px">
                        <td>Hạn bảo hành: </td>
                        <td style="font-weight: bold">@DateTime.Now.AddYears(1).ToShortDateString()</td>
                    </tr>

                        if (tk.role == "NV")
                        {
                    <tr style="height:40px">
                        <td>Nhân viên: </td>
                        <td style="font-weight: bold">
                            @Html.DropDownList("MANV", new SelectList(gh.ListNV, "MANV", "TENNV"))

                        </td>
                    </tr>
                        }
                    }
                </div>
                    
            </div>
                  
            <!-- Order Details -->
            <div class="col-md-5 order-details">
                <div class="section-title text-center">
                    <h3 class="title">Your Order</h3>
                </div>


                <div class="order-summary">
                    @foreach (var item in Model)
                    {
                        <div class="order-col">
                            <div><strong>PRODUCT</strong></div>
                            <div><strong>TOTAL</strong></div>
                        </div>
                        <div class="order-products">
                            <div class="order-col">
                                <div>  @Html.DisplayFor(modelItem => item.tenDT)</div>
                                <div> @String.Format("{0:0:0}", item.giaban) VNĐ</div>
                                <div> @Html.DisplayFor(modelItem => item.isoluong)</div>
                            </div>
                        </div>
                    }
                    @*<div class="order-col">
                            <div><strong>TOTAL</strong></div>
                            <div><strong class="order-total"> @Html.DisplayFor(modelItem => item.dThanhtien)</strong></div>
                        </div>*@
                </div>
                <form action="@Url.Action("DatHang", "GioHang")" method="post">
                    <div class="payment-method">
                        <div class="input-radio">
                            <input value="tien-mat" type="radio" name="payment" id="payment-1">
                            <label for="payment-1">
                                <span></span>
                                Tiền mặt
                            </label>
                        </div>
                        <div class="input-radio">
                            <input value="momo" type="radio" name="payment" id="payment-2">
                            <label for="payment-2">
                                <span></span>
                                Momo
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="primary-btn order-submit">Place order</button>
                </form>


                <!-- /Order Details -->
                <!-- /row -->
                <!-- /container -->
            </div>
        </div>
    </div>
</div>


