@using System.Net;
@using System.Net.Mail;
@model Nhom4_DoAnWeb_CHDT.Models.tblTAIKHOAN

@{
    ViewBag.Title = "quen_mat_khau";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gửi Lại Mật Khẩu </h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <span style="color:red">@ViewData["TaiKhoan"]</span>
        <span style="color:red">@ViewBag.ErrorEmail</span>


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="TENDT">
                Nhập Email:
            </label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.userID, new { @required = "required" , @class = "form-control", placeholder = "Nhập Email đã đăng kí tài khoản" })
             
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" color="red" value="Gửi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "DangNhap", "NguoiDung")
</div>